S3/GKiW/glgame4/oglApplication/3rd/* linguist-vendored
S3/GKiW/glgame4/oglApplication/shaders/* linguist-vendored
S4/GK/GKiW_Lab2/freeglut/* linguist-vendored
S4/GK/GKiW_Lab3/freeglut/* linguist-vendored
S4/GK/GKiW_Lab4/freeglut/* linguist-vendored
S4/GK/GKiW_Lab5/3rd_party/* linguist-vendored
S4/GK/GKiW_Lab6/3rd_party/* linguist-vendored

S3/SKiT/* linguist-documentation

stdafx.cpp linguist-generated
*.h linguist-generated

*.m linguist-language=MATLAB
