[submodule "S4/GK/Zombie-Annihilator"]
	path = S4/GK/Zombie-Annihilator
	url = https://github.com/szymmirr/Zombie-Annihilator
[submodule "S4/IO/Zabka"]
	path = S4/IO/Zabka
	url = https://github.com/szymmirr/Zabka
[submodule "S5/PZ/ProjektZespolowy"]
	path = S5/PZ/ProjektZespolowy
	url = https://github.com/TomaszWychocki/ProjektZespolowy
[submodule "S6/PADTM/android-lab4"]
	path = S6/PADTM/android-lab4
	url = https://github.com/szymmirr/android-lab4
[submodule "S6/PADTM/Calendar-32b"]
	path = S6/PADTM/Calendar-32b
	url = https://github.com/szymmirr/Calendar-32b
[submodule "S7/PD/ZUT-informatyka-obrona"]
	path = S7/PD/ZUT-informatyka-obrona
	url = https://github.com/TomaszWychocki/ZUT-informatyka-obrona
