<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout">
  <head>
      <title th:text="${offer.title}">Szczegóły oferty</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
      <section layout:fragment="content">
          <h1 th:text="${offer.title}"></h1>
          <h2>
              Cena: 
              <span class="text-primary" th:text="${offer.price}"></span>
          </h2>

          <table th:object="${offer}" class="table">
              <tr>
                  <th>Marka:</th>
                  <td th:text="*{model.manufacturer.name}"></td>
                  <th>Nadwozie:</th>
                  <td th:text="|*{bodyStyle.name} *{doors}D|"></td>
              </tr>
              <tr>
                  <th>Model:</th>
                  <td th:text="*{model.name}"></td>
                  <th>Kolor:</th>
                  <td th:text="*{colour}"></td>
              </tr>
              <tr>
                  <th>Rok produkcji:</th>
                  <td th:text="*{year}"></td>
                  <th>Przebieg:</th>
                  <td th:text="*{mileage}"></td>
              </tr>
              <tr>
                  <th>Pojemnosc silnika:</th>
                  <td th:text="*{engineSize}"></td>
                  <th>Moc silnika:</th>
                  <td th:text="*{enginePower}"></td>
              </tr>
              <tr>
                  <th>Rodzaj paliwa:</th>
                  <td th:text="*{fuelType.name}"></td>
                  <th>Cena:</th>
                  <td class="text-right">
                  <span th:text="${#numbers.formatDecimal(offer.price, 0, 'WHITESPACE', 0,'COMMA')}"></span>
                  zł
              </td>
              </tr>
          </table>
          <div th:text="${offer.description}" class="well">
          </div>
          <div>
            <a th:href="|/deleteoffer/${offer.id}|" class="btn btn-danger">Usuń ogłoszenie</a>
            <a th:href="|/editoffer/${offer.id}|" class="btn btn-primary">Edytuj ogłoszenie</a>
        </div>
      </section>
  </body>
</html>